.mainTitle, .smallerTitle {
    background-color: beige;
    color:darkolivegreen;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.mainTitle {
    font-size: 50px;
    font-weight: 700px;
    padding: 10px;
    margin: 20px;
    border: 2px solid darkolivegreen;
}

.recipieLink {
    text-align: center;
    background-color: darkolivegreen;
    color:beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: inline;
    padding: 5px;
    margin: 0 auto;
    border: 2px solid beige;
}

.photo {
    height:auto;
    width: 300px;
}

.smallerTitle {
    font-size: 20px;
}

.text {
    font-family: 'Times New Roman', Times, serif sans-serif;
}

.text.description {
    font-family: Arial;
    background-color: beige;
}