.mainTitle, .smallerTitle {
    background-color: beige;
    color:darkolivegreen;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.mainTitle {
    font-size: 30px;
    font-weight: 700px;
}

.recipieLink {
    text-align: center;
    background-color: darkolivegreen;
    color:beige;
    font-family: 'Courier New', Courier, monospace;
}

.photo {
    height:auto;
    width: 300px;
}

.smallerTitle {
    font-size: 20px;
}

.text {
    font-family: 'Times New Roman', Times, serif sans-serif;
}

.text.description {
    font-family: Arial;
    background-color: beige;
}